table {
    border-collapse: collapse;
    width: fit-content;
    margin: 2rem auto;
}

th {
    border-bottom: 1px solid #a3a3a3;
}

th:not(:last-child),
td:not(:last-child){
    border-right: 1px solid #a3a3a3;
}

th,
td {
    padding: 10px 15px;
}